<section id="profile-container">
    <header id="profile-header">
        <h1 id="header-title">Hola {{user.first_name}}</h1>
    </header>
    <div id="logOut-container">
        <a href="http://localhost:8080/api/sessions/logout"><button id="logout-btn">Log Out</button></a>
    </div>
</section>