body{
    background-color: rgb(202, 206, 212);
}
#title{
    padding: 32px;
    margin: 32px 0;
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
    border-radius: 6px;
}
#products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}
#products-container .card .row img{
    height: 100%!important;
    width: 212px!important;
    object-fit: cover!important;
}
#plusMinus{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
    max-width: fit-content;
    height: 40px;
    gap: 8px;
    padding: 8px;
}
#plusMinus button{
    background-color: rgba(0.23, 0.23, 0.23, 0);
    outline: none;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
#plusMinus p{
    vertical-align: middle;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    line-height: normal;
    margin: 0;
}
#botonera{
    display: flex;
    flex-flow: row;
    gap: 16px;
}
#form-container{
    padding: 32px;
    margin: 32px 0;
    border-radius: 6px;
    color: rgb(49, 49, 49);
    display: flex;
    flex-flow: column;
    gap: 8px;
}
#form-container #form{
    display: flex;
    flex-flow: column;
    gap: 8px;
}
#form-container #form input{
    border-radius: 5px;
    border: none;
    padding: 16px;
}
#form-container #form input:focus{
    outline: none;
}
#submitInput-container{
    align-self: end;
}
#submitInput{
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
    background-color: #0d6efd;
}
#submitInput:hover{
    background-color: rgb(10, 71, 163);
}
#delete-container{
    padding: 32px;
    margin: 32px 0;
    border-radius: 6px;
    color: rgb(49, 49, 49);
    display: flex;
    flex-flow: column;
    gap: 8px;
}
#delete-container #deleteForm{
    display: flex;
    flex-flow: column;
    gap: 8px;
}
#delete-container #deleteForm input{
    border-radius: 5px;
    border: none;
    padding: 16px;
}
#delete-container #deleteForm input:focus{
    outline: none;
}
#deleteInput-container{
    align-self: end;
}
#deleteInput{
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
    background-color: #ff3232;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 16px;
}
#deleteInput:hover{
    background-color:  #db2828;
}

#nav{
    display: flex;
    flex-flow: row;
    gap: 32px;
    padding: 8px 0;
}
#nav .nav-container{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}
#nav .nav-container ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 16px;
    padding: 0px;
}
#nav .nav-container ul li a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.fakeFormOfCart{
    display: none;   
}